.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-out forwards;
}

textarea,
input:not([type='submit']) {
  height: 50px;
  padding-left: 16px;
  width: 250px;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

input,
textarea {
  border-radius: 20px;
  border: #888 1px solid;
  box-sizing: border-box;
  justify-self: center;
  background-color: var(--background-color);
  color: var(--form-text-color);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 10px var(--primary-color);
  transform: scale(1.02);
}

input:hover,
textarea:hover {
  box-shadow: 0 0 15px var(--primary-color);
  transform: scale(1.05);
}

::placeholder {
  color: var(--form-text-color);
}

input[type='submit'] {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: auto;
}

input[type='submit']:hover {
  transform: scale(1.05);
}

input[type='submit']:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.pageclip-form__submit {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: 140px;
  height: 60px;
}

.pageclip-form__submit:hover {
  background-color: var(--btn-hover-color);
  transform: translateY(-3px) scale(1.1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.pageclip-form__submit:active {
  transform: translateY(2px) scale(0.95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (width >= 800px) {
  textarea,
  input:not([type='submit']) {
    width: 600px;
    font-size: 20px;
  }
  form {
    gap: 40px;
  }
}

@media (width >= 1400px) {
  textarea,
  input:not([type='submit']) {
    width: 800px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
